main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 700px;
  font-size: 18px;
  font-weight: bold;
  font-family: sans-serif;
}

table {
  width: 380px;
  border-collapse: collapse;
}

td {
  border: 2px solid black;
  text-align: center;
}

.blue {
  height: 50px;
  width: 100px;
  background-color: rgb(34, 34, 236);
}

.empty {
  width: 30px;
  height: 400px;
}

.second {
  background-color: rgb(249, 208, 6);
  width: 70px;
  height: 100px;
}

.fifth {
  background-color: rgb(249, 208, 6);
  height: 50px;
}

.fourth {
  height: 250px;
}
